.footer {
  height: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: white;
  margin-top: 15px;
  margin-bottom: 20px;
}

.brand{
    margin-left: 10px;
}

.button {
    margin-right: 20px;
    font-family: inherit;
}
